.signle-form-element {
    color: #0C2563;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}


.input-element-on-form {
    color: #0C2563;
    border-radius: 5px;
    border: none;
    /*margin-bottom: 2%;*/
    height: 40px;
    width: 100%;
}

.box-for-send-button {
    color: #0C2563;
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

.send-button {
    background-color: #0C2563;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    border: none;
    font-weight: 600;
    font-size: large;
}


.clear-button {
    background-color: #96C2E9;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    border: none;
    font-weight: 600;
    font-size: large;
}

.add-next-email-button {
    background-color: #96C2E9;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: small;
    height: 35px;
    width: 190px;
    margin-top: 2%;
}


.text-in-the-form-thank-you {
    font-size: 300%;
    margin: 8% auto 2%;
    text-align: center;
}

.text-in-the-form-for-the-submitted-application {
    font-size: 180%;
    margin: 2% auto;
    text-align: center;
}

.text-in-the-form-we-will-contact-you-soon {
    font-size: 150%;
    font-weight: 500;
    margin: 2% auto 4%;
    text-align: center;
}

.button-back-to-form {
    background-color: #0C2563;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: large;
    margin: auto auto 8%;
    display: block;
}


.tag-item {
    background-color: #d4d5d6;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0.3rem 0.3rem 0;
}


.tag-item > .button-delete {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.main-email-container {
    flex: 1;
    display: flex;

}

.email-container {
    flex: 0.9;
}

.email-container-full-view {
    flex: 1;
}

.trash-container {
    flex: 0.1;
    justify-content: center;
    align-items: center;
    display: flex;
}
