.menu-container{
    background-color: #f1F2F2;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}



.left-menu {
    flex: 0.5;
}

.right-menu {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lang-menu {
    width: 60px;
    text-align: right;
    font-weight: bold;
    position: relative;
}


.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;

}


.image-language-before-name {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://bankomaty.ottolandingpages.pl/images/Zasob_PL.png);
    margin-right: 10px;
}



.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pl:before {
    background-image: url(https://bankomaty.ottolandingpages.pl/images/Zasob_PL.png);
}

.ua:before {
    background-image: url(https://bankomaty.ottolandingpages.pl/images/Zasob_UA.png);
}

.logo-image-menu {
    vertical-align: middle;
    height: 90px;
}

.lang-menu:hover ul {
    display: block;
}

.languages-container-img-and-string {
    display: flex;
}
