
.site {
    width: 1320px;
    margin: 0 auto;
}

@media (max-width: 1330px) {
    .site {
        width: auto;
    }
}

.content-wrapper {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #0C2563;
    margin: 50px 6% 0 6%;
}


h1 {
    font-weight: 700;
    color: white;
}

p {
    color: white;
}
